.blocButton {
    display: flex;
    width: 672px;
    margin: 0 auto;
    justify-content: space-around;
}

.buttonFilter {
    padding: 10px 25px;
    margin-bottom: 50px;
    background-color: #c0ffc3;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}